sudo: required
services:
  - docker

before_install:
  - docker  build -t  mohitkapadia/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true mohitkapadia/react-test npm test -- --coverage

after_success:
  - docker build -t mohitkapadia/multi-client ./client
  - docker build -t mohitkapadia/multi-nginx ./nginx
  - docker build -t mohitkapadia/multi-server ./server
  - docker build -t mohitkapadia/multi-worker ./worker

  # Log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  - docker push mohitkapadia/multi-client
  - docker push mohitkapadia/multi-nginx
  - docker push mohitkapadia/multi-server
  - docker push mohitkapadia/multi-worker
